<div id="canvas"></div>
<div class="container">
  <div class="token-header">
    <h2>UFC Coin</h2>
    <p>Unite For a Cause coin</p>
  </div>
</div>

<section id="blockchain-tech" class="blockchainInfo">
  <div class="container text-center">
    <h2>What is blockchain technology?</h2>
    <div class="row">
      <div class="col-md-6">
        <p>“The blockchain is an incorruptible digital ledger of economic transactions that can be programmed to record not
          just financial transactions but virtually everything of value.” – Don & Alex Tapscott, authors Blockchain Revolution
          <br> It can only be updated by consensus between participants in the system, and when new data is entered, it can never
          be erased. The blockchain contains a true and verifiable record of each and every transaction ever made in the
          system.
        </p>
      </div>
      <div class="col-md-6">
        <p>“Blockchain truly is a mechanism to bring everyone to the highest degree of accountability. No more missed transactions,
          human or machine errors, or even an exchange that was not done with the consent of the parties involved. Above
          anything else, the most critical area where Blockchain helps is to guarantee the validity of a transaction by recording
          it not only on a main register but a connected distributed system of registers, all of which are connected through
          a secure validation mechanism.”

          <br> – Ian Khan, TEDx Speaker</p>
      </div>
    </div>
  </div>

</section>


<section id="blockchain-features" class="blockchainFeatures">
  <div class="container ">
    <h2 class="text-center">UFC coin features</h2>
    <div class="row">
      <div class="col-md-6">
        <h4>Trustless exchange</h4>
        <p>Two parties are able to make an exchange without the oversight or intermediation of a third party, strongly reducing
          or even eliminating counterparty risk.</p>

      </div>
      <div class="col-md-6">
        <h4>Durability, reliability, and longevity</h4>
        <p>Due to the decentralized networks, blockchain does not have a central point of failure and is better able to withstand
          malicious attacks.</p>

      </div>
      <div class="col-md-6">
        <h4>Transparency and immutability</h4>
        <p>Changes to public blockchains are publicly viewable by all parties creating transparency, and all transactions are
          immutable, meaning they cannot be altered or deleted.</p>

      </div>
      <div class="col-md-6">
        <h4>Process integrity</h4>
        <p>Users can trust that transactions will be executed exactly as the protocol commands removing the need for a trusted
          third party.</p>

      </div>
    </div>
  </div>

</section>


<section id="section-roadmap" class="section-roadmap">
  <div class="container ">
    <h2 class="text-center">Roadmap</h2>


    <div id="accordion">
      <div class="roadmap-container">
        <div class="roadmap-title">
          <a class="roadmap-title" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <i class="roadmap-icon fa fa-circle-o"></i>
            <span class="roadmap-title-content"> Technology advancement (Q1 2018)</span>
          </a>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class=" roadmap-content">
            Develop and publish UFC coin.
            <br>Brainstrom various Blockchain application towards helpful for society, nature, Earth and mankind.
            <br>Events that will unite human's as human and make a better world.
          </div>
        </div>
      </div>
      <div class="roadmap-container">
        <div class="roadmap-title">
          <a class="roadmap-title" data-toggle="collapse " data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <i class="roadmap-icon fa fa-circle-o"></i>
            <span class="roadmap-title-content">Develop Distributed Apps (Q2 2018)</span>
          </a>
        </div>
        <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class=" roadmap-content">
            Develop and publish a crowd funding app on blockchain without any processing fees.
            <br>Develop and brainstrom other ideas.
          </div>
        </div>
      </div>
      <div class="roadmap-container">
        <div class="roadmap-title">
          <a class="roadmap-title" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
            <i class="roadmap-icon fa fa-circle-o"></i>
            <span class="roadmap-title-content">Add coin in CoinBase (Q3 2018)</span>
          </a>
        </div>
        <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="roadmap-content">
            Market above platform.
            <br>Add UFC coin to coinbase and other exchanges.
          </div>
        </div>
      </div>
      <div class="roadmap-container">
        <div class="roadmap-title">
          <a class="roadmap-title" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
            <i class="roadmap-icon fa fa-circle-o"></i>
            <span class="roadmap-title-content">Start Virtual and Live events (Q4 2018)</span>
          </a>
        </div>
        <div id="collapseFour" class="collapse show" aria-labelledby="headingFour" data-parent="#accordion">
          <div class="roadmap-content">
            Use UFC coin to create virtual and live events like awarness about climate change, boycott plastic, Go non-voilence, highlight
            major issues of world.
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<!-- Give away -->

<section id="section-giveaway" class="section-giveaway">
  <div class="container">

  </div>

</section>
<section id="section-balanceof" class="section-balanceof">
  <div class="container">

    <app-display></app-display>
    <app-sign-in></app-sign-in>

  </div>

</section>
<section id="section-transfer" class="section-transfer">
  <div class="container">

  </div>

</section>
<section id="section-team" class="section-team">
  <div class="container">
    <h2 class="text-center">Super Team</h2>

    <div class="row text-center">
      <div class="col-md-1"></div>
      <div class="col-md-3 col-sm-6">
        <div class="member-image">
          <img class="img-fluid rounded-circle" src="../../../assets/images/ank2.png" alt="Ankit Bansal">
        </div>
        <div class="member-content">
          <h5 class="card-title">Ankit Bansal</h5>
          <p class="card-text">Lead Dev/Problem Solver</p>
          <div class="card-text">
            <span class="social-icon">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </span>
            <span class="social-icon">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </span>
            <span class="social-icon">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="member-image">
          <img class="img-fluid rounded-circle" src="../../../assets/images/ank5.png" alt="Ankit Bansal">
        </div>
        <div class="member-content">
          <h5 class="card-title">Ankit Bansal</h5>
          <p class="">Lead UI Dev/Traveller</p>
          <div class="">
            <span class="social-icon">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </span>
            <span class="social-icon">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </span>
            <span class="social-icon">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="member-image">
          <img class="img-fluid rounded-circle" src="../../../assets/images/joinus.jpg" alt="Ankit Bansal">
        </div>
        <div class="member-content">
          <h5 class="card-title">
            <a class="btn btn-info btn-link">Join us</a>
          </h5>
          <p class=""> Enthusiast and Passionate</p>
          <div class="">
            <span class="social-icon">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </span>
            <span class="social-icon">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </span>
            <span class="social-icon">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </span>
          </div>
        </div>
      </div>
    </div>


  </div>

</section>



<section id="section-investor" class="section-investor">
    <div class="container">
        <h2 class="text-center">Super Advisors</h2>	

        <div class="row text-center">
        <div class="col-md-3"></div>
        <div class="col-md-3 col-sm-6">
          <div class="member-image">
            <img class="img-fluid rounded-circle" src="../../../assets/images/ank1.png" alt="Ankit Bansal">
          </div>
          <div class="member-content">
            <h5 class="card-title">Ankit Bansal</h5>
            <p class="card-text">Lead Consultant/Futurist</p>
            <div class="card-text">
              <span class="social-icon">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </span>
              <span class="social-icon">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </span>
              <span class="social-icon">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="member-image">
            <img class="img-fluid rounded-circle" src="../../../assets/images/investor.png" alt="Investor">
          </div>
          <div class="member-content">
            <h5 class="card-title"><a class="btn btn-info btn-link">Become Investor</a></h5>
            <p class="">Futuristic/Visionary</p>
            <div class="">
              <span class="social-icon">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </span>
              <span class="social-icon">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </span>
              <span class="social-icon">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
        
    </div>
</div>
</section>
<section id="section-contactus" class="section-contactus">
  <div class="container">

  </div>

</section>
<section id="section-footer" class="section-footer">
  <div class="container">

  </div>

</section>
