<div class="container">
  <h2 class="text-center">Super Team</h2>

  <div class="row text-center">
    <div class="col-md-1"></div>
    <div class="col-md-3 col-sm-6">
      <div class="member-image">
        <img class="img-fluid rounded-circle" src="../../../assets/images/ank2.png" alt="Ankit Bansal">
      </div>
      <div class="member-content">
        <h5 class="card-title">Ankit Bansal</h5>
        <p class="card-text">Lead Dev/Problem Solver</p>
        <div class="card-text">
          <span class="social-icon">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </span>
          <span class="social-icon">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </span>
          <span class="social-icon">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="member-image">
        <img class="img-fluid rounded-circle" src="../../../assets/images/ank5.png" alt="Ankit Bansal">
      </div>
      <div class="member-content">
        <h5 class="card-title">Ankit Bansal</h5>
        <p class="">Lead UI Dev/Traveller</p>
        <div class="">
          <span class="social-icon">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </span>
          <span class="social-icon">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </span>
          <span class="social-icon">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="member-image">
        <img class="img-fluid rounded-circle" src="../../../assets/images/joinus.jpg" alt="Ankit Bansal">
      </div>
      <div class="member-content">
        <h5 class="card-title">
          <a class="btn btn-info btn-link">Join us</a>
        </h5>
        <p class=""> Enthusiast and Passionate</p>
        <div class="">
          <span class="social-icon">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </span>
          <span class="social-icon">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </span>
          <span class="social-icon">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
          </span>
        </div>
      </div>
    </div>
  </div>


</div>