<!--  https://murhafsousli.github.io/ngx-sharebuttons/#/share-button-component   -->
<div class="container text-center">
  <h2> Coin Giveaway</h2>

  <a class="btn btn-info" data-toggle="collapse" href="#giveawayContact" role="button" aria-expanded="false" aria-controls="giveawayContact"
    (click)="select('1')">Get 250 UFC</a>
  <a class="btn btn-success" data-toggle="collapse" href="#giveawayContact" role="button" aria-expanded="false" aria-controls="giveawayContact"
    (click)="select('2')">Get 650 UFC</a>
  <a class="btn btn-danger" data-toggle="collapse" href="#giveawayContact" role="button" aria-expanded="false" aria-controls="giveawayContact"
    (click)="select('3')">Get 1150 UFC</a>
</div>


<div class="collapse container" id="giveawayContact">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-8">

      <div class="card card-body">

        <div *ngIf="giveawayToken.giveaway_id === '1' || giveawayToken.giveaway_id === '3' ">

          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-9">
              Share on
              <share-button [theme]="'material-dark'" [button]="'facebook'" [showText]="true" [size]="3"></share-button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-9">

              <div> Share on
                <share-button [theme]="'material-dark'" [button]="'linkedin'" [showText]="true" [size]="3"></share-button> or
                <share-button [theme]="'material-dark'" [button]="'twitter'" [showText]="true" [size]="3"></share-button>
              </div>
              <div class="mt10">
                Follow me on <a class="btn btn-warning btn-insta btn-shadow" href="https://www.instagram.com/dude_is_coder/" target="_blank">
                  <i class="fab fa-instagram fa-lg"></i> Instagram</a>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="giveawayToken.giveaway_id === '2' || giveawayToken.giveaway_id === '3' ">
          <div class="row mt10">
            <div class="col-md-2"></div>
            <div class="col-md-9">
              <a class="btn btn-outline-dark btn-shadow" data-toggle="collapse" href="#getMeCoffee" role="button"
               aria-expanded="false" aria-controls="getMeCoffee">
               Get me a Coffee! <i class="fas fa-coffee"></i>
              </a>
              <a> Why?</a>

              <div class="collapse" id="getMeCoffee">
                <div class="card card-body">
                 <div class="row">
                   <div class="col md-5">
                    Paypal <a href='https://ko-fi.com/X8X0BTXO' target='_blank'><img height='36' style='border:0px;height:36px;' src='https://az743702.vo.msecnd.net/cdn/kofi5.png?v=0' border='0' alt='Buy Me a Coffee at ko-fi.com' /></a>
                   </div>
                   <div class="col md-1">or </div>
                   <div class="col md-6">
                     <img src="../../../assets/images/paytm-qrcode.jpeg" class="img img-fluid" />
                      PayTm me Rs.10 at 9762907853
                    </div>
                </div>
                <div class="mt10">
                <span>This is not the price of UFC coin. This is the transaction fees I need 
                  to pay to transfer the coin to you. Below is the UFC coin price. </span>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>

        <form class="mt10">
          <div class="form-group row">
            <label for="staticEmail" class="col-sm-3 col-form-label">Name</label>
            <div class="col-sm-9">
              <input type="text" class="form-control-plaintext" [(ngModel)]="giveawayToken.name" name="giveawayToken.name" id="giveawayToken.name"
                placeholder="Elon Musk">
            </div>
          </div>
          <div class="form-group row">
            <label for="staticEmail" class="col-sm-3 col-form-label">Email</label>
            <div class="col-sm-9">
              <input type="text" class="form-control-plaintext" [(ngModel)]="giveawayToken.email_id" name="giveawayToken.email_id" id="giveawayToken.email_id"
                placeholder="elonmusk@ceo.com">
            </div>
          </div>
          <div class="form-group row">
            <label for="staticEmail" class="col-sm-3 col-form-label">Ethereum Public Address</label>
            <div class="col-sm-9">
              <input type="text" class="form-control-plaintext" [(ngModel)]="giveawayToken.ether_address" name="giveawayToken.ether_address"
                id="giveawayToken.ether_address" placeholder="0x1813d474454CBB0374f4e44050f63eeA0B50dD4d">
            </div>
          </div>
          <div class="form-group row">
            <label for="staticEmail" class="col-sm-3 col-form-label">UFC coins</label>
            <div class="col-sm-9">
              {{giveawayToken.no_of_coins}}
              <span *ngIf="giveawayToken.referral_id"> + 50</span>

            </div>
          </div>
          <div class="form-group row">
            <label for="staticEmail" class="col-sm-3 col-form-label">Referral Code</label>
            <div class="col-sm-9">
              <input type="text" class="form-control-plaintext" [(ngModel)]="giveawayToken.referral_id" name="giveawayToken.referral_id"
                id="giveawayToken.referral_id" placeholder="friends@emailid.com">
            </div>
          </div>
          <button type="submit" (click)="giveaway()" class="btn btn-danger">Giveaway</button>
        </form>
      </div>
    </div>
  </div>
</div>
