<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">

<div class="mt20 text-center" *ngIf="message">
    <p>{{respMsg}}</p>
</div>
      <form class="mt10">
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-3 col-form-label">Name</label>
          <div class="col-sm-9">
            <input type="text" class="form-control-plaintext" [(ngModel)]="name" name="name" id="name" placeholder="Elon Musk">
          </div>
        </div>
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-3 col-form-label">Email</label>
          <div class="col-sm-9">
            <input type="text" class="form-control-plaintext" [(ngModel)]="emailId" name="emailId" id="emailId" placeholder="elonmusk@ceo.com">
          </div>
        </div>
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-3 col-form-label">Message</label>
          <div class="col-sm-9">
            <input type="text" class="form-control-plaintext" [(ngModel)]="message" name="message" id="message" placeholder="I want to create a blockchain app">
          </div>
        </div>

        <button type="submit" (click)="giveaway()" class="btn btn-danger">Contact us</button>
      </form>
    </div>
  </div>
</div>
