/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  font: normal Arial, Helvetica, sans-serif;
}

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
  // position: absolute;
  width: 100%;
  height: 100%;
  background-color: #3c568d;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
